<h1 class="display-4 mb-4">Dashboard</h1>

<div class="row">
  <div class="col">
    <% if @akash.wallet.exists? %>
      <%= render "wallet", wallet: @akash.wallet %>
    <% else %>
      <p>No wallet found.</p>
      <p><%= link_to 'Create new', [:new, :wallet], class: 'btn btn-primary' %></p>
    <% end %>
  </div>
  <% if @akash.wallet.exists? %>
    <div class="col">
      <h3>Active Deployments</h3>
      <% if @deployments.any? %>
        <table class="table">
          <tr>
            <th>DSEQ</th>
            <th>State</th>
            <th>Escrow</th>
            <th></th>
          </tr>
          <% @deployments.each do |deployment| %>
            <tr>
              <td><%= deployment.dseq %></td>
              <td><%= deployment.state %></td>
              <td>
                <%= "#{format_balance(deployment.escrow.balance)}" %>
                <%= "(#{format_balance(deployment.escrow.transferred)} spent)" %>
              </td>
              <td><%= link_to 'View', deployment_path(deployment.dseq) %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <p>No Deployments</p>
      <% end %>
    </div>
  <% end %>
</div>
