<h1 class="display-4 mb-4">Wallet</h1>
<div class="row">
  <div class="col">
    <% if @akash.wallet.exists? %>
      <%= render "wallet", wallet: @akash.wallet %>
    <% else %>
      <p>No wallet found.</p>
    <% end %>
    <p><%= link_to 'Create new wallet', [:new, :wallet] %></p>
    <p><%= link_to 'Delete wallet', [:wallet], method: :delete %></p>
  </div>
  <div class="col">
    <h3>Certificate</h3>
    <% if @akash.wallet.certificate.exists? %>
      <p>
        <% if params[:certificate].present? %>
          <%= link_to 'Hide Certificate', wallet_path %>
        <% else %>
          <%= link_to 'Show Certificate', wallet_path(certificate: true) %>
        <% end %>
        | <%= link_to 'Revoke Certificate', certificate_path, method: :delete, data: {confirm: 'Are you sure you want to revoke and delete this certificate? A transaction will be made to remove it.'}  %>
      </p>
      <% if params[:certificate].present? %>
        <p><pre><%= @akash.wallet.certificate.to_s %></pre></p>
      <% end %>
    <% end %>
    <p><%= link_to 'Create new certificate', [:new, :certificate] %></p>
  </div>
</div>
