<h1 class="display-4 mb-4">
  <%= link_to "Deployment ##{@deployment.dseq}", deployment_path(@deployment.dseq), class: 'text-reset' %> > New Lease
</h1>

<div class="row">
  <div class="col">
    <p>Are you sure you want to accept this bid?</p>

    <%= form_for :lease, url: deployment_leases_path(@deployment.dseq) do |f| %>
      <%= f.hidden_field :provider, {value: @bid.provider} %>
      <div class="form-group">
        Deployment: <%= @deployment.dseq %>
      </div>
      <div class="form-group">
        Provider: <%= @bid.provider %>
      </div>
      <div class="form-group">
        Price: <%= format_balance(@bid.price) %>
      </div>
      <%= f.submit 'Create', class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col">
  </div>
</div>
