<h1 class="display-4 mb-4">
  <%= link_to "Deployment ##{@deployment.dseq}", deployment_path(@deployment.dseq), class: 'text-reset' %>
  > Lease <%= @lease.provider.truncate(20) %>
</h1>
<div class="row">
  <div class="col">
    <table class="table">
      <tr>
        <td>Provider</td>
        <td><%= @lease.provider %></td>
      </tr>
      <tr>
        <td>State</td>
        <td><%= @lease.state %></td>
      </tr>
      <tr>
        <td>Price</td>
        <td><%= format_balance(@lease.price) %></td>
      </tr>
      <tr>
        <td>Escrow rate</td>
        <td><%= format_balance(@lease.escrow.rate) %></td>
      </tr>
      <tr>
        <td>Escrow balance</td>
        <td><%= format_balance(@lease.escrow.balance) %></td>
      </tr>
      <tr>
        <td>Escrow withdrawn</td>
        <td><%= format_balance(@lease.escrow.withdrawn) %></td>
      </tr>
      <% if @lease.manifest_active? %>
        <%= render "deployments/service_status", services: @lease.services %>
      <% end %>
    </table>
    <div class="btn-group">
      <%= link_to 'Back', deployment_leases_path(@deployment.dseq), class: 'btn' %>
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Actions
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li>
            <%= link_to 'View logs', deployment_lease_logs_path(@deployment.dseq, @lease.provider), class: 'dropdown-item' %>
          </li>
          <% unless @lease.closed? %>
            <% if @deployment.manifest_exists? %>
              <li>
                <%= link_to 'Send manifest', deployment_lease_path(@deployment.dseq, @lease.provider), method: :patch, data: { confirm: 'Are you sure you want to submit the current manifest to the provider?' }, class: 'dropdown-item' %>
              </li>
            <% end %>
            <li>
              <%= link_to 'Close lease', deployment_lease_path(@deployment.dseq, @lease.provider), method: :delete, data: { confirm: 'Are you sure you want to close this lease?' }, class: 'dropdown-item' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <% if @lease.manifest_active? %>
      <pre><%= JSON.pretty_generate(@lease.status_data) %></pre>
    <% end %>
    <pre><%= JSON.pretty_generate(@lease.data) %></pre>
  </div>
</div>
