<h1 class="display-4 mb-4">
  <%= link_to "Deployment ##{@deployment.dseq}", deployment_path(@deployment.dseq), class: 'text-reset' %>
  > Lease <%= @lease.provider.truncate(20) %>
</h1>
<div class="row">
  <div class="col">
    <table class="table">
      <tr>
        <td>Provider</td>
        <td><%= @lease.provider %></td>
      </tr>
      <tr>
        <td>State</td>
        <td><%= @lease.state %></td>
      </tr>
      <tr>
        <td>Price</td>
        <td><%= format_balance(@lease.price) %></td>
      </tr>
      <tr>
        <td>Escrow rate</td>
        <td><%= format_balance(@lease.escrow.rate) %></td>
      </tr>
      <tr>
        <td>Escrow balance</td>
        <td><%= format_balance(@lease.escrow.balance) %></td>
      </tr>
      <tr>
        <td>Escrow withdrawn</td>
        <td><%= format_balance(@lease.escrow.withdrawn) %></td>
      </tr>
      <% if @lease.manifest_active? %>
        <%= render "deployments/service_status", services: @lease.services %>
      <% end %>
    </table>
    <p>
      <%= link_to 'Back', deployment_leases_path(@deployment.dseq), class: 'btn' %>
      <% unless @lease.closed? %>
        <% if @deployment.manifest_exists? %>
          <%= link_to 'Send manifest', deployment_lease_path(@deployment.dseq, @lease.provider), method: :patch, class: 'btn btn-primary' %>
        <% end %>
        <%= link_to 'Close lease', deployment_lease_path(@deployment.dseq, @lease.provider), method: :delete, data: { confirm: 'Are you sure you want to close this lease?' }, class: 'btn btn-danger' %>
      <% end %>
    </p>
  </div>
  <div class="col">
    <% if @lease.manifest_active? %>
      <pre><%= JSON.pretty_generate(@lease.status_data) %></pre>
    <% end %>
    <pre><%= JSON.pretty_generate(@lease.data) %></pre>
  </div>
</div>
