<%= form_for :deployment, url: @deployment.persisted? ? deployment_path(@deployment.dseq) : deployments_path, method: @deployment.persisted? ? :patch : :post do |f| %>
  <div class="form-group">
    <%= f.label :manifest_content do %>
      Manifest (<%= link_to 'example', 'https://github.com/tombeynon/akash-hello-world/blob/master/deploy.yml' %>)
    <% end %>
    <%= f.text_area :manifest_content, class: 'form-control', rows: 20 %><br />
  </div>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <%= link_to 'Back', @deployment.persisted? ? deployment_path(@deployment.dseq) : deployments_path, class: 'btn' %>
<% end %>
