<h1 class="display-4 mb-4">Deployments</h1>

<div class="row">
  <div class="col">
    <ul class="nav nav-tabs mb-3">
      <li class="nav-item">
        <%= link_to 'Active', {state: 'active'}, class: active_class('nav-link', params[:state].blank? || params[:state] == 'active')  %>
      </li>
      <li class="nav-item">
        <%= link_to 'Closed', {state: 'closed'}, class: active_class('nav-link', params[:state] == 'closed')  %>
      </li>
    </ul>
    <% if @deployments.any? %>
      <table class="table">
        <tr>
          <th>DSEQ</th>
          <th>State</th>
          <th>URI</th>
          <th>Escrow</th>
          <th></th>
        </tr>
        <% @deployments.each do |deployment| %>
          <tr>
            <td><%= deployment.dseq %></td>
            <td><%= deployment.state %></td>
            <td>
              <% if uri = deployment.uris.first %>
                <%= link_to uri.host, uri.to_s, target: :blank, class: 'small' %>
              <% end %>
            </td>
            <td>
              <%= "#{format_balance(deployment.escrow.balance)}" %>
              <%= "(#{format_balance(deployment.escrow.transferred)} spent)" %>
            </td>
            <td><%= link_to 'View', deployment_path(deployment.dseq) %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <p>No Deployments</p>
    <% end %>
    <p><%= link_to 'Create new', [:new, :deployment], class: 'btn btn-primary' %></p>
  </div>
</div>
