<h1 class="display-4 mb-4">Deployments</h1>

<div class="row">
  <div class="col">
    <% if @deployments.all.any? %>
      <table class="table">
        <tr>
          <th>DSEQ</th>
          <th>State</th>
          <th>Escrow</th>
          <th></th>
        </tr>
        <% @deployments.all.each do |deployment| %>
          <tr>
            <td><%= deployment.dseq %></td>
            <td><%= deployment.state %></td>
            <td>
              <%= "#{format_balance(deployment.escrow.balance)}" %>
              <%= "(#{format_balance(deployment.escrow.transferred)} spent)" %>
            </td>
            <td><%= link_to 'View', deployment_path(deployment.dseq) %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <p>No Deployments</p>
    <% end %>
    <p><%= link_to 'Create new', [:new, :deployment], class: 'btn btn-primary' %></p>
  </div>
</div>
