<h1 class="display-4 mb-4">Deployment #<%= @deployment.dseq %></h1>
<div class="row">
  <div class="col">
    <table class="table">
      <tr>
        <td>DSEQ</td>
        <td><%= @deployment.dseq %></td>
      </tr>
      <tr>
        <td>State</td>
        <td><%= @deployment.state %></td>
      </tr>
      <tr>
        <td>Bids</td>
        <td><%= link_to "#{@deployment.bids.all.count} bids", deployment_bids_path(@deployment.dseq) %></td>
      </tr>
      <tr>
        <td>Leases</td>
        <td><%= link_to "#{@deployment.leases.all.count} leases", deployment_leases_path(@deployment.dseq) %></td>
      </tr>
      <tr>
        <td>Escrow balance</td>
        <td><%= format_balance(@deployment.escrow.balance) %></td>
      </tr>
      <tr>
        <td>Escrow spend</td>
        <td><%= format_balance(@deployment.escrow.transferred) %></td>
      </tr>
      <% if @deployment.manifest_active? %>
        <%= render "service_status", services: @deployment.active_lease.services %>
      <% end %>
      <% @deployment.groups.each do |group| %>
        <% group.resources.each do |resource| %>
          <tr>
            <td><%= "#{group.name} CPU" %></td>
            <td><%= resource[:cpu] %></td>
          </tr>
          <tr>
            <td><%= "#{group.name} Memory" %></td>
            <td><%= resource[:memory] %></td>
          </tr>
          <tr>
            <td><%= "#{group.name} Storage" %></td>
            <td><%= resource[:storage] %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <div class="btn-group">
      <%= link_to 'Back', deployments_path, class: 'btn' %>
      <% if @deployment.active? %>
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Actions
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li>
              <%= link_to 'Add funds', new_deployment_fund_path(@deployment.dseq), class: 'dropdown-item' %>
            </li>
            <li>
              <%= link_to 'Update manifest', edit_deployment_path(@deployment.dseq), class: 'dropdown-item' %>
            </li>
            <% if @deployment.active_lease? %>
              <% if @deployment.manifest_exists? %>
                <li>
                  <%= link_to 'Send manifest', deployment_lease_path(@deployment.dseq, @deployment.active_lease.provider), method: :patch, data: { confirm: 'Are you sure you want to submit the current manifest to the provider?' }, class: 'dropdown-item' %>
                </li>
              <% end %>
              <li>
                <%= link_to 'View logs', deployment_lease_logs_path(@deployment.dseq, @deployment.active_lease.provider), class: 'dropdown-item' %>
              </li>
            <% end %>
            <li>
              <%= link_to 'Close deployment', deployment_path(@deployment.dseq), method: :delete, data: {confirm: 'Are you sure you want to close this deployment?'}, class: 'dropdown-item' %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col">
    <pre><%= @deployment.manifest_content %></pre>
    <hr />
    <pre><%= JSON.pretty_generate(@deployment.data) %></pre>
  </div>
</div>
